.foring-header {
  width: 100%;
  position: relative;
  height: 55.5rem;
  background-image: url('../img/Header-image.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;

  .hero-mob {
    @media (min-width: 576px) {
      display: none;
    }
  }

  p {
    @media (max-width: 576px) {
      font-size: 1.2rem;
      text-align: left !important;
    }
  }

  @media (max-width: 576px) {
    background-image: url('../img/Header-Image-Mobile.png');
  }

  .navbar-nav a.nav-link {
    color: #fff;
  }

  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.foring-featured {
  overflow: hidden;
}

.foring-video {
  padding-bottom: 3rem;
  background-color: #1d2440;
  overflow: hidden;

  .line-featured {
    background-color: #fff;
  }

  .video-screen {
    position: relative;
  }

  .play-button {
    position: absolute;
    width: 84px;
    height: 84px;
  }

  .next-icon {
    width: 77px;
  }
}

.foring-readmore {
  margin: 10.87rem 0;
  padding-top: 11.55rem;
  overflow: hidden;
  height: 37.25rem;
  background: url('../img/CTA-image.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  .btn {
    background-color: #5bbc2e;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 1.7rem 5.2rem;
    font-size: 30px;
    line-height: 33px;
    border: 0;
    border-radius: 1.25rem;
  }
}

.foring-trust {
  background-color: #1d2440;
  padding: 4.875rem 0 6.625rem 0;
  .line-featured {
    background-color: #5bbc2e;
    width: 43.25rem;
  }
  img {
    z-index: 10;
  }

  .pb-5 {
    padding-bottom: 6.625rem !important;
  }
}

.foring-clients {
  .foring-form {
    .container {
      @media (min-width: 1200px) {
        max-width: 1470px;
      }
    }
  }

  .form-control {
    height: calc(1.5em + 5.75rem + 2px);
    font-size: 2rem;
    padding: 0.375rem 3.75rem;
  }
  select {
    height: calc(1.5em + 5.75rem + 2px);
    font-size: 2rem;
    padding: 0.375rem 3.75rem;
    width: 100%;

    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    border: 2px solid #ddd;
    // background: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png')
    //   no-repeat right #ddd;

    background: url('../img/d.svg') no-repeat right;
    -webkit-appearance: none;
    background-position-x: 95%;
  }
  .card-client {
    position: relative;
    background-color: #f4f4f4;
    padding: 40px 0 0 0;

    &_title::before {
      content: '';
      border-top: 15px solid #5bbc2e;
      border-left: 15px solid transparent;
      border-bottom: 15px solid transparent;
      position: absolute;
      bottom: -30px;
      left: 0;
    }

    &_title {
      position: relative;
      max-width: 85%;
      color: #fff;
      background: #5bbc2e;
      margin-left: -15px;
      padding: 10px 30px;

      font-size: 22px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.foring-case {
  .card {
    background-color: #f2f2f2;
    max-width: 518px;

    .card-img-top {
      padding: 3rem;
    }
  }
}

.foring-trusted {
  overflow: hidden;
  margin-top: 5rem;
  padding: 7rem 0;

  background: url('../img/Trusted-By-Bg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.foring-footer {
  background-color: #1d2440;
  padding: 4rem 0;

  .line-featured {
    height: 1px;
    background-color: #ddd;
    max-width: 27.25rem;
  }
}
