//
.circle1 {
  width: 221px;
}

.circle2 {
  width: 221px;
}

.circle3 {
  width: 193px;
}

.circle4 {
  width: 190px;
}

.circle5 {
  width: 177px;
}

.circle6 {
  width: 122px;
}

.circle7 {
  width: 177px;
}

.circle8 {
  width: 129px;
}

.circle9 {
  width: 140px;
}

.circle10 {
  width: 221px;
}
.circle-3x {
  color: #5bbc2e;
}
.q-mark {
  width: 64px;
  height: 50px;
  margin-top: 10.875rem;
}
.line-featured {
  // height: 0.25rem;
  height: 0.1rem;
  background: #3c424f;
}

.feature-icon {
  width: 107px;
}
